@{
    var errors = ViewData["regErrors"] as String[];
    var saveData = ViewData["saveData"] as String[];
    var validData = ViewData["validData"] as String[];
	var user = ViewData["AuthUser"] as User;
}

<div class="container">
	<div class="blueBg">
		<div class="box signin">
			<h2>Already Have an Account ?</h2>
			<button class="signinBtn">Sign in</button>
		</div>
		<div class="box signup">
			<h2>Don't Have an Account ?</h2>
			<button class="signupBtn" onclick="location='/Auth/Register'">Sign up</button>
		</div>
	</div>
	<div class="formBx">
		<div class="form signinForm">
			<form action="/Auth/Login" method="post" enctype="application/x-www-form-urlencoded">
				<h3>Sign In</h3>
				<input type="email" name="UserEmail" placeholder="Email">
				<input type="password" name="UserPassword" placeholder="Password">
				@if(user == null)
				{
					@ViewData["LoginError"]
				}
				
				<div>
					<input type="reset" value="Clear">
					<input type="submit" value="Login">
				</div>
				<a href="#" class="forgot">Forgot Password</a>
				<a href="menu.html" class="later">Maybe later (return to registration whenewer you want)</a>
			</form>
		</div>
		<div class="form signupForm">
			<form action="/Auth/RegUser" method="post" enctype="multipart/form-data">
				<h3>Sign Up</h3>
				<input type="text" name="RealName" placeholder="RealName" value="@saveData?[0]">
				@if(!String.IsNullOrEmpty(errors?[1]))
					@errors[1]
				else if(validData?[0] == false.ToString())
					@errors[2]

				<input type="email" name="Email" placeholder="Email" value="@saveData?[1]">
				@if(!String.IsNullOrEmpty(errors?[3]))
					@errors[3]
				else if(validData?[1] == false.ToString())
					@errors[4]

				<input type="password" name="Password1" placeholder="Password">
				@if(!String.IsNullOrEmpty(errors?[5]))
					@errors[5]

				<input type="password" name="Password2" placeholder="Confirm password">
				@if(saveData?[2] != saveData?[3])
					@errors[6]

				<input type="date" name="BirthdayDate" title="Date of birth">
				@if(!String.IsNullOrEmpty(errors?[7]))
					@errors[7]

				<div title="Choose your gender">
					<input type="radio" name="Gender" value="male"> Male
					<input type="radio" name="Gender" value="female"> Female
					<input type="radio" name="Gender" value="other"> Other
				</div>
				@if(!String.IsNullOrEmpty(errors?[8]))
					@errors[8]

				<select name="Region">
					<option value="none" hidden="">Choose region</option>
					<option value="Europe">Europe</option>
					<option value="America">America</option>
					<option value="Africa">Africa</option>
					<option value="Ausralia">Ausralia</option>
					<option value="Asia">Asia</option>
				</select>
				@if(!String.IsNullOrEmpty(errors?[9]))
					@errors[9]

				<div class="buttons">
					<input type="reset" value="Clear">
					<input type="submit" value="Register">
				</div>
			</form>
		</div>
	</div>
</div>